<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Glass Nest</title>
  <link rel="stylesheet" href="/styles/main.css" type="text/css" media="all" />
</head>
<body class="about">

  <h1>About Glass Nest</h1>

  <div class="masthead">
  <!-- Example card -->
  <article class="glass-view">
    <section>
      <div class="layout-figure">
        <div class="align-center">
          <p class="text-x-large">75</p>
          <img src="http://i.imgur.com/57lfBl8.png" width="60" height="61" style="margin: 5px 0 0 0">
        </div>
        <div>
          <div class="text-normal align-center">
            <p>Target Temp</p>
            <p style="font-size:130px;line-height:1.5em;font-weight:300;">74<sup>&deg;</sup></p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <p style="float:right">just now</p>
      <img src="http://i.imgur.com/lBERcCp.png" height="25px" />
    </footer>
  </article>
  </div>

  <h2>What is it?</h2>
  <div class="block">
    Glass Nest is a simple piece of Glassware that lets you control your nest thermostat using a simple set of voice commands. With Glass Nest, your thermostat is only a glance away.
  </div>

  <h2>How's it work?</h2>
  <div class="block">
    By logging in with your Google account, and then using your nest credentials (don&rsquo;t worry, we encrypt them securely along with all your information) we push a card down to your Glass Timeline. This card should be pinned to your timeline for easy access. From this card, which looks a lot like the one above, you can use the &lsquo;Reply&rsquo; menu item to speak a command. These commands are interpreted as temperature changes, or away status changes.
  </div>

  <h2>What can I do?</h2>
  <div class="block">
    Right now, Glass Nest can understand commands of the form

    <table>
      <tr><th>Command</th><th>Action</th></tr>
      <tr><td>... temperature to [degrees] ...</td><td>Sets target temp. to [degrees]</td></tr>
      <tr><td>... [degrees] degrees ...</td><td>Sets target temp. to [degrees]</td></tr>

      <tr><td>... heading|going out ...</td><td>Sets nest to Away mode</td></tr>
      <tr><td>... leaving the apartment ...</td><td>Sets nest to Away mode</td></tr>
      <tr><td>... away status to true ...</td><td>Sets nest to Away mode</td></tr>

      <tr><td>... heading|going home ...</td><td>Takes nest out of Away mode</td></tr>
      <tr><td>... leaving work | the office ...</td><td>Takes nest out of Away mode</td></tr>
      <tr><td>... away status to false ...</td><td>Takes nest out of Away mode</td></tr>
      <tr><td>... I'm home ...</td><td>Takes nest out of Away mode</td></tr>

    </table>
  </div>


  <h2>Is this an official nest app?</h2>
  <div class="block">
    <strong class="text-normal">NO</strong> This is a side-project by <a href="http://twitter.com/jamesrundquist" target="_blank">@jamesrundquist</a> and has in no way been indorsed or supported by <a href="http://next.com/" target="_blank">nest</a>.
  </div>
  <div class="block">
    If you are interested in the code, find a bug, or would like to contribute, <a href="https://github.com/jrundquist/glass-nest" target="_blank">fork the project</a> on github.
  </div>

  <% include _footer %>


<% include _foot %>

