<% include _head %>

  <%- card %>

  <div class="footer">
    <div class="container">
      <ul>
        <li><a href="http://twitter.com/jamesrundquist" target="_blank">@jamesrundquist</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="https://nest.com" target="_blank">nest</a></li>
        <li><a href="https://google.com/glass" target="_blank">Google Glass</a></li>
      </ul>
    </div>
  </div>


<% include _foot %>




