<% include _head %>
  <!-- Example card -->
  <article class="photo">
    <img src="/images/hold.jpg" width="100%" height="100%" />
    <div class="photo-overlay"></div>
    <section>
      <p>Hold. No new users at this time</p>
    </section>
    <footer>
      <p style="float:right"><span style="font-size:.5em">(code is open-source) > </span><a href="http://github.com/jrundquist/glass-nest">github</a></p>
      <img src="http://i.imgur.com/lBERcCp.png" height="25px" />
    </footer>
  </article>

  <% include _footer %>


<% include _foot %>

