<% include _head %>

  <article class="glass-view">
    <section>
    <div class="layout-figure">
      <div class="">
        <p class="text-x-small">
          Control nest from your glass unit!
        </p>
      </div>
      <div class="">
        <h1 class="text-large">Welcome to Glass Nest</h1>
        <hr>
        <p class="text-normal">
          <a class="green" href="/login">Login</a>
        </p>
      </div>
    </section>
    <footer>
      <p style="float:right">Just now</p>
      <img src="http://i.imgur.com/lBERcCp.png" height="25px" />
    </footer>
  </article>

<% include _foot %>

