<% include _head %>

  <article class="glass-view">
    <section>
    <div class="layout-figure">
      <div class="">
        <p class="text-x-small">
          Control nest from your glass unit!
        </p>
      </div>
      <div class="">
        <h1 class="text-large">Welcome to Glass Nest</h1>
        <hr>
        <p class="text-large">
          <a href="/login">Login</a>
        </p>
      </div>
    </section>
    <footer>
      <p style="float:right">Just now</p>
      <img src="http://i.imgur.com/lBERcCp.png" height="25px" />
    </footer>
  </article>


  <div class="footer">
    <div class="container">
      <ul>
        <li><a href="http://twitter.com/jamesrundquist" target="_blank">@jamesrundquist</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="https://nest.com" target="_blank">nest</a></li>
        <li><a href="https://google.com/glass" target="_blank">Google Glass</a></li>
      </ul>
    </div>
  </div>
<% include _foot %>

