<form method="POST">
  <input type="text" name="username" placeholder="NEST Username" />
  <input type="password" name="password" placeholder="NEST Password" />
  <button type="submit">Login</button>
</form>